DATABASE_URL="postgresql://username:password@localhost:26257/savemi?sslmode=disable"
DIRECT_URL="postgresql://username:password@localhost:26257/savemi?sslmode=disable"

CF_ACCOUNT_ID=""
CF_ACCESS_KEY_ID=""
CF_SECRET_ACCESS_KEY=""
CF_BUCKET=""
CF_PUBLIC_BASE_URL=""

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-long-random-secret"
